<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
    <%- include ../partials/nav %>
    <div class="container">
        <p class="h3">About Us</p>
        <blockquote class="blockquote">
            <p class="mb-0">I will take some magic white, and a little bit of Vandyke brown and a little touch of yellow. You're the greatest thing that
            has ever been or ever will be. You're special. You're so very special. A tree needs to be your friend if you're going to
            paint him. This painting comes right out of your heart. We'll have a super time. Sometimes you learn more from your mistakes
            than you do from your masterpieces. I guess that would be considered a UFO. A big cotton ball in the sky.
            </p>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">A beautiful little sunset. Just use the old one inch brush. Now we'll take the almighty fan brush. Just relax and let it
            flow. That easy. Brown is such a nice color. Let's build an almighty mountain. A fan brush is a fantastic piece of equipment.
            Use it. Make friends with it. Let your heart take you to wherever you want to be. You are only limited by your imagination.
            </p>
            <footer class="blockquote-footer">Bob Ross
                <cite title="Source Title">Happy Little Trees</cite>
            </footer>
        </blockquote>
    </div>
</body>
<%- include ../partials/scripts %>
</html>